hr{
    border-style: none;
    border-top-style: dotted;
    border-color: lightgrey;
    border-width: 7px;
    width: 10%;
    
}

body{
    background-color: #F5F5F5;
}
h1{
    color: #364F6B;
}
h3{
    color: #FC5185;
}